{{- define "main" }}
{{- if .Page.Title }}
<h1 class="page-title">{{ .Page.Title }}</h1>
{{- else if isset .Data "Term" }}
<h1 class="page-title">{{ humanize .Data.Term }}</h1>
{{- end -}}
{{ .Content }}
<ul class="posts flat">
{{- range .Data.Pages }}
{{- if (in .Site.Params.excludedTypes .Type) }}
{{- else }}
<li class="post">
<div class="post-header">
<div class="meta">
<div class="date">
<span class="day">{{ dateFormat "02" .Date }}</span>
<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
</div>
</div>
<div class="matter">
<article>
<h3 class="title small"><a href="{{ .RelPermalink }}">{{.Title}}{{ partial "post_label.html" (dict "post" .)}}</a></h3>
{{- if not .Params.hidemeta }}
<p class="post-meta">
{{ partial "post_meta.html" . }}
</p>
{{- end }}
<span class="description">{{ if isset .Params "description" }}{{ .Description }}{{ else }}{{ .Plain  | htmlUnescape | safeHTML | truncate 140 }}{{ end }}</span>
</article>
</div>
</div>
</li>
{{- end }}
{{- end }}
</ul>
{{- end }}
