{{- define "main" }}
<h1 class="page-title">{{ .Name }}</h1>
<div class="tag-cloud">
{{- if .Data.Terms }}
{{- $max := add (len (index $.Data.Terms.ByCount 0).Pages) 0.001 }}
{{- $min := len (index $.Data.Terms.ByCount.Reverse 0).Pages }}
{{- $maxFontSize := 2.5 }}
{{- $minFontSize := 1.0 }}
{{- $steps := div (sub $maxFontSize $minFontSize) (sub $max $min) }}
{{- $data := .Data }}
{{- range $key, $value := .Data.Terms.Alphabetical }}
{{- $amountTags := len $data.Pages }}
{{- $curFontSize := (add $minFontSize (mul (sub $amountTags $min) $steps) ) }}
{{- $weigth := div (sub (math.Log $value.Count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
{{- $curFontSize := (add $minFontSize (mul (sub $maxFontSize $minFontSize) $weigth) ) }}
<a style="font-size: {{ $curFontSize }}em;" href="{{ absURL $data.Plural }}/{{ replace $value.Name "#" "%23" }}/">{{ $value.Name }}<sup>{{ $value.Count }}</sup></a>
{{- end }}
{{- end }}
</div>
{{- end }}
