<header>
{{- if .Site.Params.Avatar }}
<div id="avatar">
<a href="{{ .Site.BaseURL }}"><img src="{{ relURL .Site.Params.Avatar }}" alt="{{ .Site.Title }}"></a>
</div>
{{- end }}
<div id="titletext">
{{- if .IsHome }}
{{- if isset .Site.Params "subtitle" }}
<h1 id="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
{{- else }}
<h1 id="titleonly"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
{{- end }}
{{- else }}
{{- if isset .Site.Params "subtitle" }}
<h2 id="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
{{- else }}
<h2 id="titleonly"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
{{- end }}
{{- end }}
</div>
{{- if isset .Site.Params "subtitle" }}
<div id="title-description">
<p id="subtitle">{{ .Site.Params.Subtitle | markdownify }}</p>
{{- else }}
<div id="title-social">
{{- end }}
<div id="social">
<nav><ul>
{{- if isset .Site.Params "social" }}
{{- range $index, $key := .Site.Params.Social }}
{{- if $key.url }}
<li><a href="{{ relURL $key.url }}" rel="me" aria-label="{{ $key.name }}"><span title="{{ $key.name }}" class="icons {{ $key.icon }}" aria-hidden="true"></span></a></li>
{{- else }}
<li><a href="{{ $key.cmd | safeURL }}" aria-label="{{ $key.name }}"><span title="{{ $key.name }}" class="icons {{ $key.icon }}" aria-hidden="true"></span></a></li>
{{- end }}
{{- end }}
{{- end }}
<li><button id="dark-mode" aria-label="Switch Dark Mode"><span title="Switch Dark Mode" class="icons fas fa-moon" aria-hidden="true"></span></button></li>
</ul></nav>
</div>
</div>
{{- if isset .Site.Menus "main" }}
<div id="mainmenu">
<nav>
<ul>
{{- range .Site.Menus.main }}
<li><a href="{{ .URL | safeURL }}">{{ .Name }}</a></li>
{{- end }}
</ul>
</nav>
</div>
{{- end }}
</header>
