{{- define "main" }}
<div class="recent-posts">
<div class="posts">
{{- $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
{{- $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
{{- range $paginator.Pages }}
<div class="post">
<div class="post-header">
<div class="meta">
<div class="date">
<span class="day">{{ dateFormat "02" .Date }}</span>
<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
</div>
</div>
<div class="matter">
<h3 class="title small"><a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a></h3>
{{- if eq .Site.Params.listAuthor true }}
<div class="author">
{{- if isset .Params "author" -}}
{{- if isset .Params "authorlink" -}}
{{ i18n "authorpretext" }} <a href="{{ relURL .Params.authorlink }}" target="_blank" rel="noopener noreferrer">{{ .Params.author }}</a>
{{- else -}}
{{ i18n "authorpretext" }} {{ .Params.author }}
{{- end -}}
{{- end -}}
</div>
{{- end }}
<span class="description">{{ if isset .Params "description" }}{{ .Description }}{{ else }}{{ .Plain | htmlUnescape | safeHTML | truncate 140 }}{{ end }}</span>
</div>
</div>
</div>
{{- end }}
{{- partial "paginator.html" . }}
</div>
</div>
{{- end }}
